<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866165325939-qdok1kh02q5kofnu85ko0ne9kmlsdkvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866165325939-qdok1kh02q5kofnu85ko0ne9kmlsdkvi</string>
	<key>API_KEY</key>
	<string>AIzaSyDEW0MB_7d4Sv8188jUxhR1wziwd3A9ZIY</string>
	<key>GCM_SENDER_ID</key>
	<string>866165325939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incresco.matchit</string>
	<key>PROJECT_ID</key>
	<string>matchme-dev-5881c</string>
	<key>STORAGE_BUCKET</key>
	<string>matchme-dev-5881c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866165325939:ios:83c932e397f92114206a06</string>
	<key>DATABASE_URL</key>
	<string>https://matchme-dev-5881c.firebaseio.com</string>
</dict>
</plist>